# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
.env/

# Ignore dataset files
*.idx3-ubyte
*.idx1-ubyte

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db